

<div class="m-5 text-center">
   
        <h1>Rules:</h1>
        Answer 12 questions to win a million dollars. <br />
        To start the game, click the "Start Game" button. <br />
        The question and four answers will be displayed on the screen. <br />
        After selecting the correct answer, you will proceed to the next question. <br />
        The questions will become more and more difficult as the game progresses. <br />
        On the right is a table showing how much you are playing for. <br />
        Amounts underlined are guaranteed amounts. <br />
        If you want to quit, click the "Take money" button and take the amount you have won so far. <br />
        Good luck!
    
</div>