
<div class="text-center p-5">
    <p class="display-3">Congratulation!</p>
    <p class="display-3">You win $@ViewBag.Prize !</p>
    <p class="display-6 p-3">Start game again:</p>
    <form asp-controller="Game" asp-action="Index">
        <button type="submit" class="btn btn-primary w-25 p-2">Start game</button>
    </form>
</div>