@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-5">
    <p class="display-2 p-3">Who Wants to Be a Millionaire?</p>
    <p class="display-5 p-3">Start the game and try to win $1 000 000!</p>
    <form class="p-3" asp-controller="Game" asp-action="Index">
        <button type="submit" class="btn btn-primary w-25 p-2">Start game</button>
    </form>
</div>
